<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: 'col-form-label col-sm-2' %>
    <div class="col-sm-5">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :occupation, class: 'col-form-label col-sm-2' %>
    <div class="col-sm-5">
      <%= form.text_field :occupation, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :quote, class: 'col-form-label col-sm-2' %>
    <div class="col-sm-5">
      <%= form.text_area :quote, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :special_ability, class: 'col-form-label col-sm-2' %>
    <div class="col-sm-5">
      <%= form.text_field :special_ability, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-5">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
