<p id="notice"><%= notice %></p>

<h1 class="pb-3">People</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Occupation</th>
      <th>Quote</th>
      <th>Special Ability</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.occupation %></td>
        <td><%= person.quote %></td>
        <td><%= person.special_ability %></td>
        <td><%= person.defeated? ? 'Defeated' : 'OK' %></td>
        <% if person.defeated? %>
          <td><%= link_to 'Revive', revive_people_path(person), method: :post, data: { confirm: "Revive #{person.name}?" } %></td>
        <% end %>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
