<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @person.occupation %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @person.quote %>
</p>

<p>
  <strong>Special Ability:</strong>
  <%= @person.special_ability %>
</p>

<h4>Matches</h4>
<ul>
  <% @person.matches.includes(:superhero).order(id: :desc).each do |match| %>
    <li>
      <% person_highlight = match.person_won ? 'font-weight-bold' : '' %>
      <% superhero_highlight = match.person_won ? '' : 'font-weight-bold' %>
      <span class="<%= person_highlight %>">
        <%= @person.name %>
      </span>
      vs.
      <span class="<%= superhero_highlight %>"><%= match.superhero.name %></span>
      <span>(<%= match.created_at.strftime('%d-%m-%Y') %>)</span>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
