<%= alert(notice, 'info') if notice %>

<h2><%= @person.name %></h2>

<table class="table mb-5">
  <tbody>
    <tr>
      <td class="col-md-3 text-muted">Occupation</td>
      <td><%= @person.occupation %></td>
    </tr>
    <tr>
      <td class="col-md-3 text-muted">Quote</td>
      <td><%= @person.quote %></td>
    </tr>
    <tr>
      <td class="col-md-3 text-muted">Special Ability</td>
      <td><%= @person.special_ability %></td>
    </tr>
    <tr>
      <td class="col-md-3 text-muted">Matches</td>
      <td><%= render 'people/matches' %></td>
    </tr>
  </tbody>
</table>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
