<p id="notice"><%= notice %></p>

<h1 class="pb-3">Superheroes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Character ID</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @superheroes.each do |superhero| %>
      <tr>
        <td><%= superhero.name %></td>
        <td><%= superhero.character_id %></td>
        <td><%= superhero.fought? ? 'Fought' : 'Ready' %></td>
        <td><%= link_to 'Show', superheroes_show_path(character_id: superhero.character_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
