<div class="pb-3">
  <%= form_with url: superheroes_url, method: :get, local: true,
                class: 'form-inline my-2 my-lg-0 float-right' do |f| %>
    <%= f.text_field :search, class: 'form-control mr-sm-2', type: 'search',
                     placeholder: 'Search', aria: { label: 'Search' },
                     value: @search %>
    <%= f.submit 'Search', class: 'btn btn-outline-primary' %>
  <% end %>
  <h1 class="pb-3">Superheroes</h1>

  <table class="table mb-5">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Times fought</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @superheroes.each do |superhero| %>
        <tr>
          <td><%= superhero.name %></td>
          <td><%= superhero.fought? ? 'Fought' : 'Ready' %></td>
          <td><%= superhero.matches.count %></td>
          <td><%= link_to fa_icon('eye'), superheroes_show_path(character_id: superhero.character_id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @superheroes %>
</div>
