<%= alert(notice, 'info') if notice %>

<%= button_to 'Run round', new_round_path,
              class: 'btn btn-outline-primary float-right' %>

<h1 class="pb-3">Rounds</h1>

<div class="pb-3">
  <%= paginate @rounds %>
  <%= render 'rounds/table' %>
  <%= paginate @rounds %>
</div>
