<%= alert(notice, 'info') if notice %>

<div class="float-right">
  <%= button_to 'Reset',
                ranking_reset_path,
                class: 'btn btn-outline-primary',
                data: {
                  confirm: 'This will reset the scores for today. Are you sure?'
                }
  %>
</div>

<h1 class="pb-3">Top Fighters</h1>

<table class="table" id="ranking">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>W</th>
      <th>L</th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @scores.each do |score| %>
      <tr>
        <td><strong><%= i += 1 %></strong></td>
        <td class="col-sm-9"><%= score[:name] %></td>
        <td class="col-sm-1"><%= score[:wins] %></td>
        <td class="col-sm-1"><%= score[:losses] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
