<!DOCTYPE html>
<html>
  <head>
    <title>Marvel vs. People</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/navigation/navbar' %>
    <main role="main" class="container pt-3">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
