<!DOCTYPE html>
<html>
  <head>
    <title>Marvel vs. People</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <%= render 'layouts/navigation/navbar' %>
    <div class="container w-50 pt-5">
      <%= yield %>
    </div>
  </body>
</html>
